<!DOCTYPE html>
<html>
  <head>
    <title>Medio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_url('medio-icon.png') %>

    <script type="text/javascript">
      window.profileImg = "<%= image_url('profile-image.jpg') %>";
    </script>
  </head>
  <body>
    <%= yield %>
    
  </body>
</html>
